body {
    background-color: #353535;
}
h4 {
    color: #353535;
}

img {
    height: 150px;
    width: 150px;
}

p {
    color: #353535;
}

 .kittenInfo{
    display: inline-flex;
 }

.card {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 300px;
    width: 285px;
}

.DescriptionBackground {
    background-color: #D2D7DF;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 19.5px;
}

.Description {
    color: #353535;
    align-items: center;
    justify-content: center;
}

.deleteButton {
    color: #CC2936;
    /* float: right; */
    margin-left: 20px;
}

.likeButton {
    align-items: center;
    color: #353535;
}
